<a href="https://colab.research.google.com/github/reetvarshney/AIML_Semester3/blob/main/Experiment-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
'''
EXPERIMENT 4

Write a python program to import and export data using Pandas and show the
details of the dataset like number of rows, columns, first five rows, size,
number of missing values, sum, average, min and max values from the
numerical columns.
'''

import pandas as pd
data = pd.read_csv("data.csv")

print("Number of rows:", data.shape[0])
print("Number of columns:", data.shape[1])
print("\nFirst five rows of the dataset:")
print(data.head())
print("\nSize of the dataset:", data.size)

print("Number of missing values in each column:")
print(data.isnull().sum())

print("\nSum of numerical columns:")
print(data.sum(numeric_only=True))

print("Average of numerical columns:")
print(data.mean(numeric_only=True))

print("Minimum values of numerical columns:")
print (data.min (numeric_only=True))

print("\nMaximum values of numerical columns:")
print(data.max(numeric_only=True))

data.to_csv('data.csv', index=False)

Number of rows: 50985
Number of columns: 10

First five rows of the dataset:
   Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC  \
0  2023                     Level 1                99999       All industries
1  2023                     Level 1                99999       All industries
2  2023                     Level 1                99999       All industries
3  2023                     Level 1                99999       All industries
4  2023                     Level 1                99999       All industries

                Units Variable_code  \
0  Dollars (millions)           H01
1  Dollars (millions)           H04
2  Dollars (millions)           H05
3  Dollars (millions)           H07
4  Dollars (millions)           H08

                                     Variable_name      Variable_category  \
0                                     Total income  Financial performance
1  Sales, government funding, grants and subsidies  Financial performance
2                Interest, dividends and donations  Financial performance
3                             Non-operating income  Financial performance
4                                Total expenditure  Financial performance

    Value                             Industry_code_ANZSIC06
0  930995  ANZSIC06 divisions A-S (excluding classes K633...
1  821630  ANZSIC06 divisions A-S (excluding classes K633...
2   84354  ANZSIC06 divisions A-S (excluding classes K633...
3   25010  ANZSIC06 divisions A-S (excluding classes K633...
4  832964  ANZSIC06 divisions A-S (excluding classes K633...

Size of the dataset: 509850
Number of missing values in each column:
Year                           0
Industry_aggregation_NZSIOC    0
Industry_code_NZSIOC           0
Industry_name_NZSIOC           0
Units                          0
Variable_code                  0
Variable_name                  0
Variable_category              0
Value                          0
Industry_code_ANZSIC06         0
dtype: int64

Sum of numerical columns:
Year    102887730
dtype: int64
Average of numerical columns:
Year    2018.0
dtype: float64
Minimum values of numerical columns:
Year    2013
dtype: int64

Maximum values of numerical columns:
Year    2023
dtype: int64